body {
  background: hsla(80%, 82%, 98%, 1);
  font-family: arial;
}

h1, h2 {
  color: hsla(105%, 35%, 80%, 1);
}

a {
  color: hsla(159%, 26%, 83%, 1);
}

p {
  background: hsla(45%, 26%, 70%, 1);
  color: white;
  padding: 10px;
}

.secondary {
  background: none;
  color: hsla(48%, 72%, 79%, 1);
}

#special {
  background: red;
  color: white;
}
